* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{ 
  background-color: #faf4f2;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #f8e1db;
}

.header .header_1 {
  padding: 15px 0 15px 0;
}

.header .navbar .container {
  padding-bottom: 15px;
}

.header .navbar .container a {
  padding-right: 15px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.header .navbar .container a:hover {
  color: red;
}

/* -------------- SLIDER PART ------------ */
.slider {
  background-image: url(../img/BG.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

/* ---------- EXPLORE ------------- */

.explore {
  background-color: #faf4f2;
}

.explore .container {
  padding: 80px 0 20px 0;
  text-align: center;
}

.explore .container h1 {
  padding-top: 15px;
  color: #8e8e8e;
  font-size: 40px;
}

/* ------------- CAMPING CONTENT ------------- */

.camping {
  background-color: #faf4f2;
  padding-right: 290px;
  padding-bottom: 100px;
}

.camping .container .list {
  display: flex;
  padding-bottom: 40px;
}

.camping .container .list .item {
  padding: 15px 15px;
}

.camping .container .list .item .content {
  background-color: white;
  padding: 50px 40px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.camping .container .list .item .content img,
.camping .container .list .item .content h2 {
  margin-bottom: 15px;
}

.camping .container .list .item .content p {
  padding-bottom: 40px;
  line-height: 30px;
  font-size: 18px;
}

.camping .container .list .item .content img {
  border-radius: 20px;
}

.camping .container .list .item .content a {
  background-color: #e8e8e8;
  padding: 15px 40px;
  border-radius: 15px;
  text-decoration: none;
  color: #a8a8a8;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.camping .container .list .item .content i {
  position: absolute;
  top: 88px;
  right: 65px;
  color: red;
  font-size: 20px;
  background-color: rgb(234 211 221);
  padding: 12px 12px;
  border-radius: 10px;
  opacity: 0.8;
}

.camping .container .btn {
  text-align: center;
  transform: translateX(150px);
}

.camping .container .btn .viewall {
  padding: 15px 80px;
  background-color: transparent;
  color: #efa492;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 200px;
  border: 2px solid #efa492;
}

/* ------------ CONTACT ------------ */
.contact {
  display: flex;
  background-color: #f8e1db;
  position: relative;
}

.contact .img {
  position: relative;
  width: 50%;
}

.contact .img .background {
  width: 1000px;
  height: 360px;
}

.contact .img .home {
  position: absolute;
  top: 5px;
  left: 236px;
}

.contact .info {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.contact .info h1,
.contact .info p {
  color: #979594;
  line-height: 40px;
}

.contact .info h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.contact .info p {
  font-size: 20px;
}

.contact .info .apps {
  display: flex;
}

.contact .info .apps h2 {
  padding-bottom: 20px;
  color: #979594;
}

.contact .info .apps .follow i {
  color: #e76f51;
  font-size: 30px;
  padding-right: 12px;
}

/* ---------- INFO -------------- */

.info_1 {
  background-color: #f8e1db;
  margin-top: 80px;
  border-top-left-radius: 112px;
  border-top-right-radius: 112px;
}

.info_1 .container .list {
  display: flex;
}

.info_1 .container .list .item {
  padding-right: 40px;
  padding-top: 50px;
}

.info_1 .container .list .item h1,
.info_1 .container .list .item p,
.info_1 .container .list .item a {
  color: #3c3836;
}

.info_1 .container .list .item p{ 
  line-height: 35px;
}

.info_1 .container .list .item a{ 
  text-decoration: none;
  line-height: 35px;
}

.info_1 .container .list .item-1 {
  width: 50%;
}

.info_1 .container .list .item-1 h1 {
  padding-bottom: 20px;
}
